<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>

    <style>
        .mvcView
        {
            position:relative;
        }
            
        .mvcView:hover
        {
            background-color: transparent;
            background-color: rgba(180, 180, 144, 0.35);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3FB4B490,endColorstr=#3FB4B490); /* IE6–IE9 */
            zoom: 1;
            -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
            -moz-border-radius: 5px; /* FF1-3.6 */
            border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */    
            -webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
            -moz-transition: all 1s ease-out;  /* FF4+ */
            -ms-transition: all 1s ease-out;  /* IE10? */
            -o-transition: all 1s ease-out;  /* Opera 10.5+ */
            transition: all 1s ease-out; 
        }
        
        .mvcView:hover:after  
        {
            content:"\2191 " attr(data-glimpse-viewName); 
            display:block;
            position:absolute;
            bottom:-25px; 
            left:0px;
            text-align: center;
            background-color: transparent;
            background-color: rgba(180, 180, 144, 0.35);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3FB4B490,endColorstr=#3FB4B490); /* IE6–IE9 */
            zoom: 1;
            -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
            -moz-border-radius: 5px; /* FF1-3.6 */
            border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */    
            color:darkslateblue;
            font-family:sans-serif;
            font-size: 12px;
            font-weight:bold;
            padding:4px;
            -webkit-transition: all 0.25s ease-out;  /* Saf3.2+, Chrome */
            -moz-transition: all 0.25s ease-out;  /* FF4+ */
            -ms-transition: all 0.25s ease-out;  /* IE10? */
            -o-transition: all 0.25s ease-out;  /* Opera 10.5+ */
            transition: all 0.25s ease-out; 
            z-index:900;

        }

            
    </style>

</head>
<body>
    <div id="header">
        <h1><a href="/">ASP.NET MVC MUSIC STORE</a></h1>
        <ul id="navlist">
            <li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
            <li><a href="@Url.Content("~/Store/")">Store</a></li>
            <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
            <li><a href="@Url.Content("~/StoreManager/")">Admin</a></li>
        </ul>        
    </div>

    @{Html.RenderAction("GenreMenu", "Store");}

    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        built with <a href="http://asp.net/mvc">ASP.NET MVC 3</a>
    </div>

    @RenderSection("JavaScript", false)

    <script type="text/javascript">
        $(document).ready(function () {

            var nodeDict = {};

            function recurseNodes(node, nodeDict) {
                for (var i = 0; i < node.childNodes.length; i++) {
                    var selectedNode = node.childNodes[i];
                    if (selectedNode.nodeType === 8) {
                        var comment = node.childNodes[i];
                        if (comment.nodeValue[0] === '/') {
                            var sib = comment.previousSibling;
                            if (sib.nodeType === 3) sib = sib.previousSibling;

                            if (nodeDict[comment.nodeValue.substring(1)] === sib) {
                                sib.classList.add('mvcView');
                                var viewName = comment.nodeValue.substring(1).slice(5, comment.nodeValue.substring(1).length-1);
                                sib.setAttribute('data-glimpse-viewName', viewName);
                                /*sib.addEventListener('mouseover', function (evt) {
                                console.log(comment.nodeValue.substring(1));
                                evt.cancelBubble = true;
                                return false;
                                });*/
                            }
                        }
                        else {
                            var sib = comment.nextSibling;
                            if (sib.nodeType === 10) sib = sib.nextSibling;
                            if (sib.nodeType === 3) sib = sib.nextSibling;
                        }

                        nodeDict[comment.nodeValue] = sib;
                    }
                    recurseNodes(selectedNode, nodeDict);
                }
            }

            recurseNodes(document, nodeDict);

            console.log(nodeDict);
        });
    </script>
</body>
</html>
