
   
<div class="features help">

 
    @Menu.HelpMenu(Html, true, -1)
    
    <h3>Plugins / Tabs</h3> 
    <table width="100%">

        <tr>
            <td colspan="2"> 

            <p>Each server plugin corresponds to a tab on the client and a data provider on the server. </p>
            <p>There are two tabs that are actually not server plugins: 'Ajax' and 'Remote'. These are described in the Meta section below.</p>
            <p>The data on a tab is displayed in a tabular way. In many cases the data has nested sections where one cell is actually another table. Depending on the size of the nested data we display the table right away or just show the beginning of the underlining JSON and you need to open it up by clicking on the plus icon to the left of it.</p>

            </td> 
        </tr>


        <tr align="center">
            <td width="50%"><strong>ASP.NET</strong></td> 
            <td width="50%"><strong>MVC</strong></td> 
        </tr>


        <tr>
            <td>  
                <ul class="plain">
                    <li>@Html.ActionLink("Config", MVC.Help.Plugin("Config")) - Summary of important stuff in your web.config</li>
                    <li>@Html.ActionLink("Environment", MVC.Help.Plugin("Environment")) - Details of the server environment</li>
                    <li>@Html.ActionLink("Request", MVC.Help.Plugin("Request")) - What the server received in the request</li>
                    <li>@Html.ActionLink("Server", MVC.Help.Plugin("Server")) - Web server variables available for the request</li>
                    <li>@Html.ActionLink("Session", MVC.Help.Plugin("Session")) - Is using session, what is being stored</li>
                    <li>@Html.ActionLink("Trace", MVC.Help.Plugin("Trace")) - Trace output for the request</li>
                </ul> 
            </td> 
            <td>  
                <ul class="plain">
                    <li>@Html.ActionLink("Bindings", MVC.Help.Plugin("Binding")) - How MVC is binding the data</li>
                    <li>@Html.ActionLink("Execution", MVC.Help.Plugin("Execution")) - What the execution pipeline looks like</li>
                    <li>@Html.ActionLink("MetaData", MVC.Help.Plugin("MetaData")) - MetaData associated with your View Model </li>
                    <li>@Html.ActionLink("Routes", MVC.Help.Plugin("Routes")) - How routes are being evaluated</li>
                    <li>@Html.ActionLink("Views", MVC.Help.Plugin("Views")) - How MVC is finding the view that is being rendered</li> 
                </ul> 
            </td>
        </tr>

        <tr align="center">
            <td width="50%"><strong>Meta</strong></td> 
            <td width="50%"><strong></strong></td> 
        </tr>

        <tr>
            <td>  
                <ul class="plain">
                    <li>@Html.ActionLink("Ajax", MVC.Help.Plugin("Ajax")) - Lets you dig into your Ajax requests</li>
                    <li>@Html.ActionLink("Remote", MVC.Help.Plugin("Remote")) - View requests from a remote client</li>
                </ul> 
            </td> 
            <td>
            </td>
        </tr>

    </table>
@*
    <br />

    <h3>Infrastructure</h3> 
    <table width="100%">
        <tr align="center">
            <td width="33%"><h4>Client</h4></td> 
            <td width="34%"><h4>Protocol</h4></td> 
            <td width="33%"><h4>Server</h4></td> 
        </tr>
        <tr>
            <td>
                <ul class="plain">
                    <li>@Html.ActionLink("Blacklisting", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                    <li>@Html.ActionLink("Creating Plugins", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                </ul> 
            </td>
            <td>
                <ul class="plain">
                    <li>@Html.ActionLink("Documentation", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li> 
                </ul> 
            </td>
            <td>
                <ul class="plain">
                    <li>@Html.ActionLink("Configuration", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                    <li>@Html.ActionLink("Blacklisting", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                    <li>@Html.ActionLink("Creating Plugins", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                </ul> 
            </td>
        </tr>
    </table> 
*@
</div>
    