<!DOCTYPE html>
<html>
<head>
    <title>Glimpse - A client side look at whats going on in your server @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @this.RenderSection("styles", false)
</head> 
<body> 
<div class="content">
    <div class="navigation-back"> 
    </div>
    <ul class="navigation"> 
        <li><a href="@Url.Content("~/")">What is Glimpse?</a> <span>Introduction and Features</span></li> 
        <li><a href="@Url.Action(MVC.Questions.Index())">Documentation</a> <span>FAQ and Wiki</span></li> 
        <li><a href="@Url.Action(MVC.Talk.Index())">Community</a><span>Discussion forums and lists</span></li> 
        <li><a href="http://github.com/Glimpse/Glimpse/">Get Involved</a><span>Create extensions</span></li> 
    </ul> 

    <div class="logo">
        <blockquote>@this.RenderSection("PageQuote", @<text>What Firebug is for the client, Glimpse does for the server... in other words, a client side Glimpse into whats going on in your server.</text>)</blockquote>
        <h1>Glimpse</h1>
        <div>A client side Glimpse to your server</div>
    </div>

    @RenderBody()
  
    @Html.GlimpseLinks()

    <div class="footer"> 
        Created by <strong>Anthony van der Hoorn</strong> (<a href="http://twitter.com/anthony_vdh">@@anthony_vdh</a>) and <strong>Nik Molnar</strong> (<a href="http://twitter.com/nikmd23">@@nikmd23</a>) <br />
        &copy; getglimpse.com 2011
    </div> 
</div>

    @Html.JQueryScript()
    @this.RenderSection("scripts", false)
    <script src="@Url.Content(Links.Scripts.Shared.Core_js)" type="text/javascript"></script> 
</body>
</html>