@Html.GlimpseDownload(false)
   
<div class="features help">

    <table width="100%">
        <tr>
            <td width="50%" colspan="3"> 
                <h3>Finding what you need</h3> 
            </td>
            <td rowspan="2" style="text-align:center; vertical-align:bottom"> 
                &nbsp;
            </td>
        </tr>
        <tr>
            <td> 
                <p>At its core Glimpse allows you to debug your Web Service right in the browser. Glimpse allows you to "Glimpse" into what's 
                going on in your web server. In other words what Firebug is to debugging your client side code, Glimpse is to debugging 
                your server within the client.</p>
            </td> 
        </tr>
    </table>
 
    @Menu.HelpMenu(Html, true, -1)
    
    <h3>Plugins</h3> 
    <table width="100%">
        <tr align="center">
            <td width="50%"><strong>WebForms</strong></td> 
            <td width="50%"><strong>MVC</strong></td> 
        </tr>
        <tr>
            <td>  
                <ul class="plain">
                    <li>@Html.ActionLink("Config", MVC.Help.Plugin("Config")) - Summary of important stuff in your web.config</li>
                    <li>@Html.ActionLink("Environment", MVC.Help.Plugin("Environment")) - Details of the server environment</li>
                    <li>@Html.ActionLink("Request", MVC.Help.Plugin("Request")) - What the server received in the request</li>
                    <li>@Html.ActionLink("Server", MVC.Help.Plugin("Server")) - Web server variables available for the request</li>
                    <li>@Html.ActionLink("Session", MVC.Help.Plugin("Session")) - Is using session, what is being stored</li>
                    <li>@Html.ActionLink("Trace", MVC.Help.Plugin("Trace")) - Trace output for the request</li>
                </ul> 
            </td> 
            <td>  
                <ul class="plain">
                    <li>@Html.ActionLink("Bindings", MVC.Help.Plugin("Binding")) - How MVC is binding the data</li>
                    <li>@Html.ActionLink("Execution", MVC.Help.Plugin("Execution")) - What the execution pipeline looks like</li>
                    <li>@Html.ActionLink("MetaData", MVC.Help.Plugin("MetaData")) - MetaData associated with your View Model </li>
                    <li>@Html.ActionLink("Routes", MVC.Help.Plugin("Routes")) - How routes are being evaluated</li>
                    <li>@Html.ActionLink("Views", MVC.Help.Plugin("Views")) - How MVC is finding the view that is being rendered</li> 
                </ul> 
            </td>
        </tr>
    </table>
@*
    <br />

    <h3>Infrastructure</h3> 
    <table width="100%">
        <tr align="center">
            <td width="33%"><h4>Client</h4></td> 
            <td width="34%"><h4>Protocol</h4></td> 
            <td width="33%"><h4>Server</h4></td> 
        </tr>
        <tr>
            <td>
                <ul class="plain">
                    <li>@Html.ActionLink("Blacklisting", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                    <li>@Html.ActionLink("Creating Plugins", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                </ul> 
            </td>
            <td>
                <ul class="plain">
                    <li>@Html.ActionLink("Documentation", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li> 
                </ul> 
            </td>
            <td>
                <ul class="plain">
                    <li>@Html.ActionLink("Configuration", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                    <li>@Html.ActionLink("Blacklisting", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                    <li>@Html.ActionLink("Creating Plugins", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                </ul> 
            </td>
        </tr>
    </table> 
*@
</div>
    