@Html.GlimpseDownload(false)
   
<div class="features plugin">

    @Html.Partial(string.Format("~/Views/Help/Plugins/{0}.cshtml", (string)ViewBag.PartialView))

    <div class="help-buttons">
        <div class="help-links"> 
            <h3>Plugins</h3> 
            <table width="100%">
                <tr align="center">
                    <td width="50%"><strong>WebForms</strong></td> 
                    <td width="50%"><strong>MVC</strong></td> 
                </tr>
                <tr>
                    <td>  
                        <ul class="plain">
                            <li>@Html.ActionLink("Config", MVC.Help.Plugin("Config")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Environment", MVC.Help.Plugin("Environment")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Request", MVC.Help.Plugin("Request")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Server", MVC.Help.Plugin("Server")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Session", MVC.Help.Plugin("Session")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Trace", MVC.Help.Plugin("Trace")) - Short description about this plugin</li>
                        </ul> 
                    </td> 
                    <td>  
                        <ul class="plain">
                            <li>@Html.ActionLink("Bindings", MVC.Help.Plugin("Binding")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Execution", MVC.Help.Plugin("Execution")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("MetaData", MVC.Help.Plugin("MetaData")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Routes", MVC.Help.Plugin("Routes")) - Short description about this plugin</li>
                            <li>@Html.ActionLink("Views", MVC.Help.Plugin("Views")) - Short description about this plugin</li> 
                        </ul> 
                    </td>
                </tr>
            </table>
            <br />

            <h3>Infrastructure</h3> 
            <table width="100%">
                <tr align="center">
                    <td width="33%"><h4>Client</h4></td> 
                    <td width="34%"><h4>Protocol</h4></td> 
                    <td width="33%"><h4>Server</h4></td> 
                </tr>
                <tr>
                    <td>
                        <ul class="plain">
                            <li>@Html.ActionLink("Blacklisting", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                            <li>@Html.ActionLink("Creating Plugins", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                        </ul> 
                    </td>
                    <td>
                        <ul class="plain">
                            <li>@Html.ActionLink("Documentation", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li> 
                        </ul> 
                    </td>
                    <td>
                        <ul class="plain">
                            <li>@Html.ActionLink("Configuration", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                            <li>@Html.ActionLink("Blacklisting", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                            <li>@Html.ActionLink("Creating Plugins", MVC.Help.Plugin("Config"))<br /> - Short description about this plugin</li>
                        </ul> 
                    </td>
                </tr>
            </table>    
        </div>
        <a href="#" class="myButton help-more">More Help Links</a>
    </div>
</div>

@section scripts {  
    <script type="text/javascript">
        $(document).ready(function() {
            var links = $('.help-links');
	        $('.help-more').mouseover(function() { links.fadeIn('fast'); });
            links.mouseleave(function() { links.fadeOut(); });
        });
    </script>
}