@Html.GlimpseDownload(false)
   
<div class="features help">

    <table width="100%" >
        <tr>
            <td width="50%">  
                <h2>Manual Setup</h2>
            </td>
            <td rowspan="2" style="text-align:center; vertical-align:bottom"> 
                @*<img src="@Links.Content.Support.GlimpsePlatform_jpg" />*@
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>If you can't use Visual Studio with NuGet to install Glimpse, you
                need to set it up manually. <br />
                Alternatively you could use the NuGet command line tool, which 
                is downloadable from the <a href="http://nuget.codeplex.com">NuGet Codeplex Site</a>
                </p>
            </td> 
        </tr>
    </table>
 
    @Menu.HelpMenu(Html, false, 6) 
     
    <div class="plugin-faq">

    <h3>External Dependencies</h3>
    <p>In the current version of Glimpse, we have removed all external dependencies
     so all you need are the Glimpse assemblies themselves.
    </p>

     <hr class="line" />

    <h3>Getting Glimpse</h3>

            Download the NuGet package manually from:<br />
            <p></p>
           <a href="http://packages.nuget.org/v1/Package/Download/Glimpse/0.83"> packages.nuget.org/v1/Package/Download/Glimpse/0.83</a>
           </p>
            if you want to use Glimpse with MVC3 you also need this package:
            <p>
<a href="http://packages.nuget.org/v1/Package/Download/Glimpse.mvc3/0.83">packages.nuget.org/v1/Package/Download/Glimpse.mvc3/0.83</a>
</p>
            Rename Glimpse-0.83.nupkg to Glimpse-0.83.zip and extract the 
            file \lib\net40\Glimpse.Core.dll into your bin directory.
            <br />
For MVC do the same and copy \lib\net40\Glimpse.Mvc3.dll into you bin directory.
 
  <hr class="line" />

        <h3>Changing your web.config file</h3>
        <p>Finally you need to add Glimpse to your web.config: </p>

         @SharedHelp.ConfigSections(Html)

         <p>Add the main Glimpse configuration section anywhere within &lt;configuration&gt; to enable Glimpse:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">glimpse</span> <span class="attr">enabled</span><span class="kwrd">="true"</span> <span class="kwrd">/&gt;</span></pre>

    <p>Finally you have to plug in Glimpse into the ASP.NET request pipeline. We are using both a http handler
    and an http module to do this:</p>

    @SharedHelp.ModuleHandlerConfig(Html) 

    <p>For more information about options in the web.config file, see
    the @Html.ActionLink("configuration page", MVC.Help.Configuration()) page.</p>

    </div>

</div>